<div class="container mt-4">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-3">Badge Icons</th>
        <th class="col-md-7"/>Descriptions</th>
        <th class="col-md-1">Type</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td class="text-center"><%= image_tag("ieeehkncrest.png", style: 'border: 3px solid black; border-radius: 5px; width: 153px; height: 233px;') %></td>
        <td id = "ieee_hkn_badge">
          <p><strong>IEEE-Eta Kappa Nu (HKN) Badge</strong> </br> This individual has successfully met the stringent criteria for induction into an IEEE-Eta Kappa Nu (HKN) chapter. Induction at Purdue University Northwest is reserved for active regular IEEE members who actively participate in activities and demonstrate exceptional academic achievement, ranking in the top fifth of their sophomore class, top fourth of the junior class, or top third of their senior class based on scholastic ranking. Inductees are carefully selected based on the quality of Scholarship, Character, and Attitude, ensuring a commitment to excellence in electrical and computer engineering at Purdue University Northwest's Nu Theta chapter.</p>
        </td>
        <td>Honor Society Membership</td>
      </tr>

      <tr id = "soldering_workshop">
        <td class="text-center"><%= image_tag("soldering_workshop.png", style: 'border: 3px solid black; border-radius: 5px; width: 170px; height: 170px;') %></td>
        <td>
          <p><strong>PNW IEEE Soldering Fundamentals Badge</strong> </br> The individual has successfully completed the "Basic Soldering Fundamentals" workshop at Purdue University Northwest IEEE Chapter, where they gained hands-on experience in soldering wires and PCB boards. This comprehensive workshop covered wire sizing, stripping, splicing, soldering techniques with an iron and gun, and heat shrink application.</p>
        </td>
        <td>Workshop</td>
      </tr>

      <tr id = "battery_workshop">
        <td class="text-center"><%= image_tag("battery_workshop.png", style: 'border: 3px solid black; border-radius: 5px; width: 170px; height: 170px;') %></td>
        <td>
          <p><strong>PNW IEEE Battery Fundamentals Badge</strong> </br> The individual has successfully completed the "Basic Battery Fundamentals" workshop, were they gain experience in designing battery packs. They delved into the nuances of various battery types, explored the intricacies of chemistry, perfected testing methodologies, and honed their skills in assembly techniques. With hands-on experience employing a multimeter and internal resistance tester, this adept learner is now well-prepared to contribute their acquired knowledge to any battery related project such as the IEEE electric vehicle project.</p>
        </td>
        <td>Workshop</td>
      </tr>

      <tr id = "_3d_workshop">
        <td class="text-center"><%= image_tag("_3d_workshop.png", style: 'border: 3px solid black; border-radius: 5px; width: 170px; height: 170px;') %></td>
        <td>
          <p><strong>PNW IEEE 3D Printing Fundamentals Badge</strong> </br> The individual has successfully completed the "Basic 3D Printing Fundamentals" workshop at Purdue University Northwest IEEE Chapter, demonstrating proficiency in CAD modeling, exporting 3D models, slicing objects in to G-Code, and the art of 3D printing. Equipped with hands-on experience and a newfound skill set, they are now capable of seamlessly navigating the entire process—from creating intricate designs in CAD to producing tangible prints. This accomplishment signifies their readiness to embark on independent 3D printing endeavors with confidence and expertise.</p>
        </td>
        <td>Workshop</td>
      </tr>

    </tbody>
  </table>
</div>
